= content_tag "h2", l(:label_qa)
= link_to l(:link_to_show_all), {action: :index, set_filter: 1 }
-#
-#= qa_query_links(l(:qa_issues_list), public_sidebar_qa_queries )
-#
-#= qa_query_links(l(:label_query_plural), sidebar_qa_queries )
