
%fieldset.box.label-without-negative-margin
  %legend= l(:setting_product_list_default_columns)
  = render_query_columns_selection(ProductQuery.new(column_names: Setting.plugin_arm_med_products['product_list_default_columns']),
      name: 'settings[product_list_default_columns]')

= render partial: 'products_groups/index'

