.contextual
  -#TODO: добавить User.current.allowed_to? и permissions
  = link_to l(:button_update), edit_product_path(@product),
            class: 'icon icon-edit', accesskey: accesskey(:edit), remote: true
  = link_to l(:button_delete), product_path(@product),
            data: {confirm: l('product.delete_confirmation_message')},
            method: :delete, class: 'icon icon-del'