.issue
  %table.attributes
    %tbody
      %tr
        %td{ colspan: '2'}
          .subject
            %div.product-title
              %h3
                = @product.name
  %hr
  %h3
    = label_tag l('products.storages')
  = render partial: 'product_storages/count_products_in_storages'
  %div
    = @product.note
