= stylesheet_link_tag :product_storage_relation, plugin: :arm_med_products

#tasks
  -f=nil
  - semantic_form_for @movement do |form| f=form; end
  = f.semantic_fields_for :product_storage_relations do |relation|
    = render 'product_storage_relation_fields', :f => relation
  .links
    = link_to_add_association 'add task', f, :product_storage_relations
