- @product.storage_product_counts.each do |c|
  -storage = ProductStorage.find(c.storage_id).name
  -count = c.count
  .where-is-product
    - if count > 0
      = "Место хранения: '#{storage}' количество: #{count}"
